<div class="contain-to-grid sticky">
    
    <nav class="top-bar" data-topbar role="navigation" data-options="sticky_on: large">

        <ul class="title-area">

            <li class="name">
                <h1><a href="#">Karousel</a></h1>
            </li>

        </ul>

        <section class="top-bar-section">

            <ul class="right">

                <li><a href="#"><i class="fa fa-th"></i> Browse</a></li>
                <li><a href="#"><i class="fa fa-random"></i> Random</a></li>
                <li><a href="#"><i class="fa fa-upload"></i> Upload</a></li>
                <li><a href="#"><i class="fa fa-cog"></i> Settings</a></li>

            </ul>

        </section>

    </nav>

</div>
